div.container {
  position: relative;
}
div.container table .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

div.actions button {
  border: none;
}
div.actions button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div.create {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 20;
}

div.create.show-create{
    visibility: visible;
    opacity: 1;
}

.user-form {
  width: 400px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-form .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div.close-create-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
div.close-create-btn:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.user-form .header h2 {
  margin-bottom: 20px;
}
.user-form .form-group {
  margin-bottom: 15px;
}
.user-form .form-group label {
  display: block;
  margin-bottom: 5px;
}
.user-form .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.user-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.user-form button:hover {
  background-color: #0056b3;
}


/* Edit Form */

div.edit {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

div.edit.edit-show{
    visibility: visible;
    opacity: 1;
}

.edit-form {
  width: 400px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-form .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-form .header div.close-edit-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.edit-form .close-edit-btn:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.edit-form .header h2 {
  margin-bottom: 20px;
}
.edit-form .form-group {
  margin-bottom: 15px;
}
.edit-form .form-group label {
  display: block;
  margin-bottom: 5px;
}
.edit-form .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.edit-form button:hover {
  background-color: #0056b3;
}


